APP_DEBUG = true

DB_TYPE = mysql
DB_HOST = 127.0.0.1
DB_NAME = test
DB_USER = username
DB_PASS = password
DB_PORT = 3306
DB_CHARSET = utf8

DEFAULT_LANG = zh-cn

# JWT 配置
JWT_SECRET = please-change-this-to-a-random-string
JWT_EXPIRE = 604800
JWT_PREFIX = Bearer
